
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,500');

@mixin no-highlight {
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@mixin heading-text {
  margin: 0 5vw;
  padding-bottom: 5vh;

  p {
    text-align: center;
    margin: 7.5vh 0;
  }
}


body {
  position: relative;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(0.8vw + 1vmin);
  background-color: #282c34;
  color: #F1F1F1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: #5A975E;
}

h1 {
  margin: 10vh auto;
  font-size: calc(6vw + 2vmin);
  font-weight: 300;
  letter-spacing: 0.5vw;
  width: fit-content;
  border-bottom: 1px solid currentColor;
}

h2 {
  font-size: calc(3vw + 1vmin);
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: calc(1.5vw + 1vmin);
  text-decoration: underline;
  letter-spacing: 0.1vw;
  text-align: center;
}

.header-padding {
  margin-top: 7vh;
}

// Page menu styles

.menu-buttons {
  @include no-highlight;
  text-align: center;
  font-size: calc(1vw + 1vmin);

  span {
    margin: 0 5vw;
    padding: 1vh 1vw;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
  }

  span:hover {
    background-color: #F1F1F1;
    color: #282c34;
  }
}

.active-button {
  background-color: #F1F1F1;
  color: #282c34;
}


// Header Styles

.activeLink {
    font-weight: bold;
}

header {
  background-color: #F1F1F1;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(0.75vw + 2vmin);
  color: #282c34;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;

  a {
    color: #282c34;
    text-decoration: none;
    margin: 0 6.5vw;
  }

  img, span {
    width: 20px;
    position: absolute;
    top: 5px; left: 5px;
  }

  span {
    top: 0; left: 0;
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    white-space: nowrap;
    margin-left: 30px;
  }

}

// Footer styles

footer {
  width: 100vw;
  background-color: black;
  position: absolute;
  bottom: 0; left: 0;
  padding: 1vh 0;
  font-size: calc(0.5vw + 1vmin);
  text-align: center;

  span {
    margin: 0 10vw;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}

// Home page styles

#home {

  div {
    margin: 10vh 10vw 0 10vw;
    display: flex;

    img {
      width: 40vw;
      height: 100%;
      margin: 0;
      padding-bottom: 10vh;
    }

    ul {
      li {
        margin-bottom: 1vh;
      }
    }
  }
}

// About page styles

#about {
  div {
    @include heading-text;

    .about-cards {
      margin: 15vh 0 10vh 0;

      p {
        text-align: left;
      }

      img {
        width: 50vw;
        float: right;
        margin: 1vh 1vw;
      }
    }
  }
}



// Portfolio page styles

#portfolio {
  div {
    @include heading-text;

    .portfolio-cards {
      img {
        width: 100%;
        margin: 10vh 0 5vh 0;
      }

      div {
        display: flex;
        flex-direction: row;

        ul {
          width: 50%;
          margin-right: 5vw;

          li {
            margin: 1vh 0;
          }
        }

        p {
          text-align: left;
          margin: 0 0 5vw 0;
          width: 50%;
        }
      }
    }

  }
}

// Contact page styles

#contact {
  div {
    @include heading-text;
    display: flex;

    img {
      width: 40vh;
      height: 100%;
    }

    div {
      display: block;

      a {
        margin: 0 1vw;
      }
    }
  }
}
